body{
  background-image: url(grey.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: top;
background-attachment: fixed;

}
h1, h2, h3, p, ul, ol{
  color:#393a3b;
  font-family: 'Abel', sans-serif;
}
li{
  font-size: larger;
}
p{
  font-weight:bolder;
  width: 60%;
}
h3{
  margin: 5px;
}


.container{
  display: flex;
  justify-content: center;
}

button{
  border: none;
  padding: 0;
  background: none;
}
.search{
  padding: 15px 24px;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width:500px){

  li, p, h3{
    font-size: 17px;
    font-weight: bold;
  }
  .dish{
    width: 80%;
  }
  .nutr{
    flex-wrap: wrap;
  }
}
